<div class="border rounded p-6">

  <div class="overflow-hidden border relative w-full h-[240px]">
    <img [ngSrc]="people?.avatar!"
         class="object-cover" alt="avatar"
         fill priority="1"/>
    <button class="absolute top-2 right-1 z-10 " nz-popover [nzPopoverContent]="contentTemplate"
            nzPopoverPlacement="bottom">
      <div class="p-1 flex items-center justify-center rounded-full bg-slate-50 bg-opacity-50">
        <span nz-icon nzType="more" nzTheme="outline" nzRotate="90" class="font-bold"></span>
      </div>
    </button>
    <ng-template #contentTemplate>
      <div class="gap-2 flex cursor-pointer text-red-500" (click)="handleDelete()">
        <span nz-icon nzType="delete"></span>
        Xoá
      </div>
      <div class="gap-2 flex cursor-pointer text-blue-500" (click)="toggleShowForm()">
        <span nz-icon nzType="edit"></span>
        Cập nhật
      </div>
    </ng-template>
  </div>
  <div class="flex justify-between items-end pt-4 ">
    <div class="font-semibold text-xl" (click)="navigateDetail()">{{ people?.username }}({{ people?.aka }})</div>
    <div class="space-x-2 *:cursor-pointer ">
      <span nz-icon nzType="like" nzTheme="outline" class="hover:text-blue-500 hover:scale-110" (click)="reaction('LIKE')"></span>
      <span nz-icon nzType="dislike" nzTheme="outline" class="hover:text-blue-500 hover:scale-110" (click)="reaction('DISLIKE')"></span>
    </div>
  </div>
  <nz-modal [(nzVisible)]="showForm" nzTitle="Cập nhật thông tin people" nzCentered (nzOnCancel)="toggleShowForm()" [nzFooter]="modalFooter">
    <ng-container *nzModalContent>
      <people-form [initValue]="detailData" [handleOk]="handleUpdatePeople"/>
    </ng-container>
  </nz-modal>

  <ng-template #modalFooter>

  </ng-template>

</div>
