<form [formGroup]="mailForm" (ngSubmit)="handleSubmit()">
  <div class="flex flex-col gap-4">

    <label for="subject" class="flex flex-col  items-start">
      <b>Chủ đề:</b>
      <input class="border rounded p-2 w-full" id="subject" type="text" formControlName="subject" />
      @if ( mailForm.controls.subject.dirty || mailForm.controls.subject.touched) {
        @if(mailForm.controls.subject.errors?.['required']){
          <div class="font-semibold text-red-500 mt-1">Subject is required </div>
        }
        @if(mailForm.controls.subject.errors?.['minlength']){
          <div class="font-semibold text-red-500 mt-1">Subject's length must longer than 3 characters </div>
        }
      }
    </label>
    <label for="content" class="flex flex-col  items-start">
      <b>Content:</b>
      <textarea class="border rounded p-2 w-full" id="content" type="text" formControlName="content" rows="8"></textarea>
    </label>
    <div class="flex justify-end">
      <button nz-button nzType="primary" type="submit" [disabled]="!mailForm.valid">Save</button>
    </div>
  </div>
</form>
