<div class="w-full flex gap-4 justify-end " (click)="toggleCreateForm()">
  <button nz-button nzType="primary" nzSize="large" class="rounded">Create new people</button>
  <button nz-button nzType="default" nzSize="large" class="rounded">
    <label for="import-file">Import new people
    </label>
  </button>
  <input id="import-file" type="file"
         accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
         class="hidden" (change)="handleImport($event)">
</div>
<div class="grid grid-cols-4 gap-8 my-8">
  @for (people of listPeople; track people.id) {
    <app-people-item [people]="people" [refreshList]="refreshData"/>
  }

</div>
<div class="flex justify-center pb-6">
  <nz-pagination [nzPageIndex]="page" [nzTotal]="totalElements" nzShowSizeChanger [nzPageSize]="size"
                 (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onSizeChange($event)"></nz-pagination>
</div>

<nz-modal [(nzVisible)]="showCreateForm" nzTitle="Create new people" nzCentered (nzOnCancel)="toggleCreateForm()"
          [nzFooter]="modalfooter">
  <ng-container *nzModalContent>
    <people-form [handleOk]="handleCreatePeople"/>
  </ng-container>
</nz-modal>

<ng-template #modalfooter></ng-template>
